.AccountPage
  .AccountPage__logo
    = link_to image_tag("/assets/logo.png", size: "185x49"), "/"
  .AccountPage__box
    %h2.AccountPage__box__title
      登録が完了しました
    .AccountPage__box__form
      .AccountPage__box__form__create
        ありがとうございます。
        %br
        会員登録が完了しました。
      .AccountPage__box__form__start
        = link_to "フリマをはじめる", root_path, class: "AccountPage__box__form__start"
  .CreateBlank
