* {
  box-sizing: border-box;
}
body{
  a{
    text-decoration: none;
    color: black;
  }
  width: 100vw;
  height: 100vh;  
  header {
    width: 100vw;
    height: 100px;    
    .main{
      width: 100vw;
      height: 55px;
      display: flex;
      justify-content: center;
      padding: 15px 65px 0 65px;
      .exhibition{
        width: 120px;
        height: 116px;
        background-color: #3ccace;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 15px;
        position: fixed;
        bottom: 30px;
        right: 30px;
        z-index: 999;
        .exhibition__button{
          text-align: center;
          width: 90px;
          height: 27px;
          color: white;
          margin-bottom: 5px;
          font-size: 18px;
        }
        .icon{
        }
      }
      &__img{
        width: 140px;
        height: 40px;
        margin-right: 40px;
      }
      &__input{
        width: calc(100vw - 310px);
        height: 40px;
        border: solid thin black;
        font-size: 16px;
        display: flex;
        align-items: center;        
      }
      &__button{
        background-color: #3ccace;
      }
    }
    .contents {
      width: 100vw;
      height: 32px;
      display: flex;
      justify-content: space-between;
      padding: 0 65px 0 65px;
      align-items: center;
      margin-bottom: 10px;
      &__left{
        display: flex;
        .category{
          font-size: 14px;
          padding-right: 30px;
        }
        .brand{
          font-size: 14px;
          padding-left: 16px;
        }
      }
      &__right{
        display: flex;
        .login{
          font-size: 14px;
          padding-left: 16px;
        }
        .register{
          font-size: 14px;
          padding-left: 16px;         
          
        }
      }
    }
  }
  .top-img {
    position: relative;
    .visual{
      width: 100vw;
      max-width: 100vw;
      height: 560px;
    }
    .text{
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 60px;
      color: white;
    }      
  }
  .reasons {
    width: 100vw;
    height: 658px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 60px 20px;
    .subtitle{
      font-size: 26px;
      margin-bottom: 15px;
    }
    .under-line{
      border: #3ccace solid thin;
      width: 70px;
      height: 4px;
      background-color: #3ccace;
      margin-bottom: 25px;
    }
    &__lists{
      display: flex;
      align-items: center;
      .left-list{
        margin: 16px 51px 16px 0;
        width: 306px;
        height: 446px; 
        display: flex;
        align-items: center;
        flex-direction: column; 
        .color{
          display: flex;
          position: relative;
          top: 0;
          left: 0;
          .left-img{
          } 
          .number{
            width: 56px;
            height: 55px;
            background-color: #3ccace;
            color: white;
            font-size: 30px;
            text-align: center;
            position: absolute;
            padding: 10px 20px;
          }
        }
        .text{
          font-size: 24px;
          margin-left: 2px;
          .color{
            color: #3ccace;
          }
        }
        .sub-text{
          font-size: 18px;
          margin-top: 16px;
        }      
      }
      .center-list{
        margin: 16px 51px 16px 0; 
        width: 306px;
        height: 446px;
        display: flex;
        align-items: center;
        flex-direction: column; 
        .color{
          display: flex;
          position: relative;
          top: 0;
          left: 0;
          .center-img{
          } 
          .number{
            width: 56px;
            height: 55px;
            background-color: #3ccace;
            color: white;
            font-size: 30px;
            text-align: center;
            position: absolute;
            padding: 10px 20px;
          }
        }  
        .text{
          font-size: 24px;
          margin-left: 2px;
          .color{
            color: #3ccace;
          }
        }
        .sub-text{
          font-size: 18px;
          margin-top: 16px;
        }
      }
      .right-list{
        margin: 16px 51px 16px 0; 
        width: 306px;
        height: 446px; 
        display: flex;
        align-items: center;
        flex-direction: column; 
        .color{
          display: flex;
          position: relative;
          top: 0;
          left: 0;
          .right-img{
          } 
          .number{
            width: 56px;
            height: 55px;
            background-color: #3ccace;
            color: white;
            font-size: 30px;
            text-align: center;
            position: absolute;
            padding: 10px 20px;
          }
        }  
        .text{
          font-size: 24px;
          margin-left: 2px;
          .color{
            color: #3ccace;
          }
        }
        .sub-text{
          font-size: 18px;
          margin-top: 16px;
        }
      }
    }
  }
  .center-img {
    position: relative;
    .visual{
      width: 100vw;
      max-width: 100vw;
      height: 400px;
    }
    .text{
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 35px;
      color: white;
    }
  }
  .features {
    width: 100vw;
    height: 730px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 60px 100px;
    .text{
      font-size: 26px;
      margin-bottom: 15px;
    }
    .under-line{
      border: #3ccace solid thin;
      width: 70px;
      height: 4px;
      background-color: #3ccace;
      margin-bottom: 25px;
    }
    &__lists{
      display: flex;
      align-items: center;     
      .left-list{
        padding: 0 20px;
        width: 353px;
        height: 532px;
        display: flex;
        align-items: center;
        flex-direction: column;       
        .text{
          font-size: 19px;
          width: 313px;
          height: 29px;
          font-weight: bold;
          text-align: center;
          margin: 38px 0 10px;
        }         
        .sub-text{
          width: 313px;
          height: 52px;
          font-size: 17px;
          margin-bottom: 40px;
          text-align: left;
        }
      }  
      .center-list{
        padding: 0 20px;
        width: 353px;
        height: 532px;
        display: flex;
        align-items: center;
        flex-direction: column;
        .text{
          font-size: 19px;
          width: 313px;
          height: 29px;
          font-weight: bold;
          text-align: center;
          margin: 38px 0 10px;
        }          
        .sub-text{
          width: 313px;
          height: 52px;
          font-size: 17px;
          margin-bottom: 40px;
          text-align: left;
        }
      }  
      .right-list{
        padding: 0 20px;
        width: 353px;
        height: 532px;
        display: flex;
        align-items: center;
        flex-direction: column;
        .text{
          font-size: 19px;
          width: 313px;
          height: 29px;
          font-weight: bold;
          text-align: center;
          margin: 38px 0 10px;
        }         
        .sub-text{
          width: 313px;
          height: 52px;
          font-size: 17px;
          margin-bottom: 40px;
          text-align: left;
        }
      }
    }
  }
  .items {
    width: 100vw;
    height: 426px;
    padding-top: 80px;
    display: flex;
    align-items: center;
    flex-direction: column;
    &__text{
      width: 100vw;
      height: 39px;
      font-size: 28px;
      text-align: center;
      margin-bottom: 10px;
    }
    .sub-text{
      width: 100vw;
      height: 36px;
      font-size: 24px;
      color: #3ccace;
      text-align: center;
      margin-bottom: 10px;
    }
    .new-items{
      display: flex;
      justify-content: center;
      width: 100vw;
      height: 307px;
      .item{
        width: 220px;
        height: 261px;
        .item-image{
          width: 220px;
          height: 150px;
        }
        .item-information{
          padding: 16px;
          width: 220px;
          height: 95px;
          .item-name{
            width: 188px;
            height: 24px;
          }
          .item-price{
            width: 188px;
            height: 24px;
          }
        }
      }
    }   
  }
  .bottom-img{
    position: relative;
    .visual{
      width: 100vw;
      max-width: 100vw;
      height: 359px;
    }
    .text{
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 35px;
      color: white;
    }
  }
  footer {
    width: 100vw;
    height: 354px;
    background-color: #272727;
    padding: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
    .menu-lists{
      width: 100vw;
      height: 172px;
      display: flex;
      justify-content: center;
      .left-lists{
        width: 263px;
        height: 172px;
        margin-right: 16px;
        color: white;
        font-size: 16px;
        display: flex;
        align-items: center;
        flex-direction: column;
        .list{
          width: 120px;
          height: 14px;
          font-size: 12px;
          list-style: none;
          display: flex;
          align-items: center;
          flex-direction: column;
        }
      }
      .center-lists{
        width: 263px;
        height: 172px;
        margin-right: 16px;
        color: white;
        font-size: 16px;
        display: flex;
        align-items: center;
        flex-direction: column;
        .list{
          width: 120px;
          height: 14px;
          font-size: 12px;
          list-style: none;
          display: flex;
          align-items: center;
          flex-direction: column;
        }
      }
      .right-lists{
        width: 263px;
        height: 172px;
        margin-right: 16px;
        color: white;
        font-size: 16px;
        display: flex;
        align-items: center;
        flex-direction: column;
        .list{
          width: 120px;
          height: 14px;
          font-size: 12px;
          list-style: none;
          display: flex;
          align-items: center;
          flex-direction: column;
        }
      }
    }
    .icon{
      display: flex;
      align-items: center;
      flex-direction: column;
      color: white;
      font-size: 14px;
    }
  }
}