* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #797979;
}

.Wrapper {
  width: 100vw;
  background-color: #f5ffee;

  .Container {
    padding: 40px;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    .Items {
      padding: 40px;
      width: 700px;
      background-color: #fff;
      display: flex;
      align-items: center;
      flex-direction: column;
      box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.15);
      &__title {
        font-weight: 800;
        font-size: 30px;
      }
      &__img-first {
        width: 500px;
        height: 400px;
        margin-top: 20px;
      }
      &__img-second {
        margin-top: 10px;
        width: 500px;
        display: flex;
        justify-content: space-between;
      }
      &__price {
        font-weight: 800;
        font-size: 40px;
        margin-top: 10px;
      }

      &__introduction {
        margin: 20px 0px;
        text-align: justify;
      }
      
      .Menu {
        &__list {
          border: 1px solid #797979;
          &__left {
            text-align: center;
            width: 100px;
            padding: 15px;
            background-color: #e4e4e4;
          }
          &__right {
            text-align: center;
            padding: 15px;
            width: 400px;
            text-align: left;
          }
        }
      }
      
      // 購入、変更、ログインボタン
      .Btn-area {
        height: 150px;
        width: 700px;
        display: flex;
        justify-content: center;
        .Items-btn {
          margin-top: 30px;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100px;
          width: 400px;
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15);
          border-radius: 50px;
          a {
            display: block;
            height: 100px;
            width: 400px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            color: #fff;
          }
        }

        // 編集ボタン
        .seller-btn {
          background-color: #46dde2;
          a {
            font-size: 30px;
          }
        }

        // 購入ボタン
        .buyer-btn {
          background-color: #e43333;
          a {
            font-size: 30px;
          }
        }

        // ログインボタン
        .login-btn {
          background-color: #ffa034;
          &__top {
            font-size: 18px;
          }
          &__down {
            font-size: 30px;
          }
        }
      }

      .Option-area {
        margin-top: 20px;
        width: 500px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .Favorite {
          padding: 5px;
          border: 1px solid #000;
        }
        .Report {
          padding: 5px;
          border: 1px solid #000;
        }
      }
    }

    .Move-area {
      margin-top: 20px;
      height: 30px;
      width: 700px;
      display: flex;
      justify-content: space-between;
      .Next {
        display: flex;
        justify-content: space-between;
        &__icon {
          margin-right: 10px;
          color: #797979;
        }
      }
      .Prev {
        display: flex;
        justify-content: space-between;
        &__link {
          margin-right: 10px;
        }
        &__icon {
          color: #797979;
        }
      }
    }

    .Recommend {
      width: 700px;
      .Recommend__link {
        margin-top: 10px;
        font-size: 25px;
      }
      
      .Recommend__category {
        margin: 10px 0 50px;
        background-color: #fff;
        height: 250px;
        width: 220px;
        box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.15);
        &__content {
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 100px;
          width: 220px;
          padding: 0 10px;
          .Recommend__left {
            width: 100px;
            &__title {
              text-align: left;
              font-size: 15px;
              margin-bottom: 5px;
            }
            &___price {
              text-align: left;
              font-size: 15px;
              margin-bottom: 5px;
            }
            &__sipping {
              text-align: left;
              font-size: 10px;
            }
          }
          .Recommend__right {
            text-align: right;
            width: 100px;
          }
        }
      }
    }
  }
}