#error_explanation{
  margin-bottom: 20px;
}

.AccountPage{
  background-color: #f5f5f5;
  width: 100vw;
  padding-bottom: 50px;
  &__logo{
    height: 128px;
    padding-top: 40px;
    display: flex;
    justify-content: center;
  }
  &__box{
    background-color: #fff;
    width: 700px;
    margin: auto;
    &__title{
      font-size: 22px;
      font-weight: bold;
      padding: 32px;
      text-align: center;
      border-bottom: 1px solid #f5f5f5;
    }
    &__form{
      padding: 24px 178px 40px;
      &__field{
        height: 70px;
        margin-bottom: 24px;
        &__label{
          font-weight: bold;
          font-size: 13px;
          display: flex;
          &__right{
            height: 19px;
            width: 32px;
            background-color: red;
            color: white;
            padding: 1px 3px;
            border-radius: 2px;
            font-weight: normal;
            margin-left: 8px;
          }
        }
        &__input{
          height: 48px;
          width: 100%;
          display: block;
          margin-top: 6px;
          padding: 10px 16px 8px;
          border: 1px solid #ccc;
          border-radius: 4px;
        }
        &__input--family{
          height: 48px;
          width: calc(50% - 8px);
          margin-right: 6px;
          display: inline-block;
          margin-top: 6px;
          padding: 10px 16px 8px;
          border: 1px solid #ccc;
          border-radius: 4px;
        }
        &__input--first{
          height: 48px;
          width: 49%;
          display: inline-block;
          margin-top: 6px;
          padding: 10px 16px 8px;
          border: 1px solid #ccc;
          border-radius: 4px;
        }
        .year, .month, .day{
          display: inline-block;
          height: 48px;
          width: 80px;
          padding-left: 10px;
          margin-top: 6px;
          border: 1px solid #ccc;
          border-radius: 4px;
        }
        .month, .day {
          margin-left: 5px;
        }
      }  
      &__actions{
        display: block;
        height: 48px;
        width: 100%;
        background-color: red;
        // #00FFFF
        color: white;
        font-size: 14px;
        border: none;
        margin: 40px 0px 10px;
        border-radius: 4px;
      }
      &__create{
        text-align: center;
        margin-top: 59px;
      }
      &__start{
        display: block;
        height: 48px;
        width: 100%;
        background-color: red;
        color: white;
        font-size: 14px;
        border: none;
        margin: 40px 0px 10px;
        border-radius: 4px;
        text-align: center;
        line-height: 48px;
      }
    }
  }

  // #ログインページ
  &__sessionLogo{
    height: 128px;
    padding-top: 40px;
    display: flex;
    justify-content: center;
  }
  &__sessionBox{
    background-color: #fff;
    width: 456px;
    margin: auto;
    &__no-account{
      height: 144px;
      border-bottom: 1px solid #f5f5f5;
      padding: 40px 64px;
      text-align: center;
      font-size: 14px;
      &--link{
        height: 42px;
        display: block;
        background-color: #0098e8;
        color: #fff;
        line-height: 42px;
        margin-top: 8px;
        border-radius: 4px;
      }
    }
    &__sns{
      padding: 32px 64px;
      &__google{
        height: 50px;
        width: 100%;
        display: block;
        border: 1px solid #979797;
        border-radius: 4px;
        margin-top: 16px;
        font-size: 14px;
        text-align: center;
        line-height: 48px;
        position: relative;
        img{
          position: absolute;
          top: 10px;
          left: 18px;
        }
      }
      &__facebook{
        height: 50px;
        width: 100%;
        display: block;
        border: 1px solid #979797;
        border-radius: 4px;
        margin-top: 16px;
        font-size: 14px;
        text-align: center;
        line-height: 48px;
        color: #fff;
        background-color: #385185;
        position: relative;
        .fa-facebook-square:before{
          font-size: 23px;
          position: absolute;
          top: 11px;
          left: 20px;
        }
      }
    }
    &__form{
      padding: 24px 64px 32px;
      &__input{
        height: 48px;
        width: 100%;
        display: block;
        padding: 10px 16px 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-bottom: 24px;
      }
      &__login{
        height: 50px;
        width: 100%;
        background-color: #ea352d;
        border: 1px solid #ea352d;
        display: block;
        color: #fff;
        font-size: 14px;
      }
      &__new-password{
        display: block;
        height: 14px;
        font-size: 14px;
        margin-top: 40px;
        color: #0099e8;
      }
    }
  }
  &__guidebox{
    background-color: #fff;
    width: 700px;
    margin: 0px auto 0px;
    &__title{
      height: 97px;
      padding: 32px;
      text-align: center;
      font-size: 22px;
      font-weight: bold;
    }
    &__regist{
      padding: 24px 16px 40px;
      &__content{
        width: 343px;
        margin: 0px auto 0px;
        &__mail{
          height: 50px;
          width: 100%;
          display: block;
          color: #fff;
          background-color: #ea352d;
          border-radius: 4px;
          font-size: 14px;
          text-align: center;
          line-height: 48px;
          position: relative;
          .fa-envelope:before{
            font-size: 20px;
            position: absolute;
            top: 15px;
            left: 23px;
          }
        }
        &__google{
          height: 50px;
          width: 100%;
          display: block;
          border: 1px solid #979797;
          border-radius: 4px;
          margin-top: 16px;
          font-size: 14px;
          text-align: center;
          line-height: 48px;
          position: relative;
          img{
            position: absolute;
            top: 10px;
            left: 18px;
          }
        }
        &__facebook{
          height: 50px;
          width: 100%;
          display: block;
          border: 1px solid #979797;
          border-radius: 4px;
          margin-top: 16px;
          font-size: 14px;
          text-align: center;
          line-height: 48px;
          color: #fff;
          background-color: #385185;
          position: relative;
          .fa-facebook-square:before{
            font-size: 23px;
            position: absolute;
            top: 11px;
            left: 20px;
          }
        }
      }
    }
  }
}

.SignupBlank{
  height: calc(100vh - 521px);
  background-color: #f5f5f5;
}

.CreateBlank{
  background-color: #f5f5f5;
  height: calc(100vh - 545px);
}

.Mypage{
  background-color: #f5f5f5;
  width: 100vw;
  padding: 40px 0px 40px;
  &__Wrapper{
    width: 1024px;
    height: 100%;
    margin: 0px auto 0px;
    display: flex;
    justify-content: space-between;
    &__Side{
      width: 280px;
      margin-right: 40px;
      &__unli{
        margin-top: 40px;
        font-size: 16px;
        font-weight: bold;
      }
      &__list{
        position: relative;
        a{
          display: block;
          background-color: #fff;
          height: 48px;
          width: 100%;
          font-size: 14px;
          padding: 16px;
          border-bottom: 1px solid #f5f5f5;
          font-weight: normal;
        }
        .fa-chevron-right{
          position: absolute;
          top: 15px;
          right: 16px;
          font-size: 18px;
          color: #ccc;
        }
        .PageActive{
          background-color: #eee;
          font-weight: bold;
          font-size: 13px;
        }
      }
    }
    &__Main{
      width: 700px;
      // #index
      &__user-name{
        font-weight: bold;
      }

      // #logout
      &__logout{
        background-color: #fff;
        height: 179px;
        width: 100%;
        padding: 64px;
        &--link{
          background-color: #ea352d;
          display: block;
          color: #fff;
          height: 100%;
          width: 320px;
          margin: auto;
          border-radius: 4px;
          text-align: center;
          line-height: 51px;
          font-size: 14px;
        }
      }

      // #card
      &__CardTitle{
        height: 50px;
        background-color: #fff;
        padding: 8px 24px;
        font-size: 23px;
        font-weight: bold;
        text-align: center;
        border-bottom: 1px solid #f5f5f5;
      }
      &__CardInner{
        background-color: #fff;
        padding: 64px;
        &__title{
          font-size: 16px;
          font-weight: bold;
          width: 320px;
          height: 19px;
          margin: 0px auto;
          line-height: 19px;
        }
        &__add{
          padding: 24px;
          border-bottom: 1px solid #f5f5f5;
          &--link{
            width: 320px;
            height: 50px;
            background-color: #ea352d;
            display: block;
            margin:0px auto 8px;
            color: #fff;
            font-size: 14px;
            line-height: 48px;
            text-align: center;
          }
          .fa-credit-card:before{
            margin-right: 16px;
          }

          // #card
          &__show{
            width: 320px;
            margin: 0px auto 0px;
            position: relative;
            &__num{
              height: 16px;
              margin-top: 8px;
              font-size: 16px;
            }
            &__limit{
              height: 16px;
              margin-top: 8px;
              font-size: 16px;
            }
            &__destroy{
              position: absolute;
              display: block;
              top: 0px;
              right: 0px;
              padding: 2px 4px;
              border-radius: 3px;
              border: 1px solid #ea352d;
              color: #ea352d;
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}
