%footer
  .footer-menu
    .menu-lists
      .left-lists
        FURIMAについて
        .list
          %li 会社概要（運営会社）
          %li プライバシーポリシー
          %li FURIMA利用規約
          %li ポイントに関する特約
      .center-lists
        FURIMAを見る
        .list
          %li カテゴリー一覧
          %li ブランド一覧
      .right-lists
        ヘルプ＆ガイド
        .list
          %li FURIMAガイド
          %li FURIMAロゴ利用ガイドライン
          %li お知らせ
    .icon  
      = image_tag asset_path("/assets/logo-white.png", size: "160x46")
      ©︎FURIMA