%footer
  .Footer-img
    .Footer-img__area
      = image_tag asset_path("bg-appBanner-pict.jpg"), class: "visual"
      .Footer-img__area__text
        今すぐ無料ダウンロード！

  .Footer-lists
    .Footer-lists__content
      .Footer-lists__content__head
        FURIMAについて
      %ul
        %li.Footer-lists__content__text
          会社概要（運営会社）
        %li.Footer-lists__content__text
          プライバシーポリシー
        %li.Footer-lists__content__text
          FURIMA利用規約
        %li.Footer-lists__content__text
          ポイントに関する特約

    .Footer-lists__content
      .Footer-lists__content__head
        FURIMAを見る
      %ul
        %li.Footer-lists__content__text
          カテゴリー一覧
        %li.Footer-lists__content__text
          ブランド一覧

    .Footer-lists__content
      .Footer-lists__content__head
        ヘルプ＆ガイド
      %ul
        %li.Footer-lists__content__text
          FURIMAガイド
        %li.Footer-lists__content__text
          FURIMAロゴ利用ガイドライン
        %li.Footer-lists__content__text
          お知らせ

  .Footer-icon
    = image_tag asset_path("logo-white.png"), size: "160x46"
    ©︎FURIMA
    