nav {
  border-bottom: 1px solid black;
  height: 50px;
  width: 100%;
  background-color: #f9ffac;
}

header {
  border-bottom: 1px solid black;
}

footer {
  border-top: 1px solid black;
  height: 500px;
}

.item-wrapper {
  background-color: #fcdddd;
  display: flex;
  justify-content: center;
  .Items {
    height: 2000px;
    width: 700px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    flex-direction: column;
    &__title {

    }
    &__img-first {

    }

    &__img-second {

    }
    .Menu {
      &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        &--left {
          border: 1px solid #000;
          text-align: center;
          width: 200px;
          padding: 30px;
        }
        &--right {
          border: 1px solid #000;
          text-align: center;
          padding: 30px;
          width: 400px;
        }
      }
    }
  }
}

