.l-container
  .l-content
    .items-box-container
      %h1.items-box-head
        = @category.name
        の商品一覧
      .items-box-content
        - @items.each do |item|
          .items-box
            = link_to "#" do
              %figure.items-box-photo
                = image_tag "#{item.item_images[0].image}"
              .items-box-body
                %h3.items-box-name
                  大きいサイズ レディース春新作ダメージデニム オーバーオール サロペット
                .items-box-num
                  .items-box-price
                    7000